@model GeneralRequestViewModel



<div class="header-top-tasks">
    <span>@SharedLocalizer["Request"] </span>
    <div class="close-tasks" onclick="closeRequest()"> <i class="fas fa-times"></i> </div>
</div>
<div class="hr-notes"></div>
<div id="add-new-GeneralRequest">

    <form class="add-tasks" id="createRequestForm">
        @*<i class="fas fa-plus"></i>*@
        <span>@SharedLocalizer["AddRequest"]</span>
        <div class="row">
            <div class="col-12">
                <label asp-for="RequestFromId" class="label-sales-information"></label>
                <select class="select-no-border-white form-control" asp-for="RequestFromId">
                    <option value="">@SharedLocalizer["Select"]</option>
                    @foreach (var user in ViewBag.RequestFromId as List<UserViewModel>)
                    {
                        <option value="@user.Id">@user.Name</option>
                    }
                </select>
                <span asp-validation-for="RequestFromId" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Description" class="control-label label-sales-information"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Deadline" class="control-label label-sales-information"></label>
                <input asp-for="Deadline" class="form-control" value="" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <div class="actions-add-new-task">
                <button id="cancel" class="cancel" onclick="closeRequest()">@SharedLocalizer["Cancel"] </button>
                <button id="update" class="update" onclick="CreateGeneralRequest()">
                    <i class="fas fa-plus"></i> @SharedLocalizer["Add"]
                </button>
            </div>
        </div>
    </div>
</div>

<div id="success-GeneralRequest" class="success-GeneralRequest d-none">
    <div class="modal-thanks">
        <div class="box">
            <div class="clos-item">
                <i class="fa fa-times" aria-hidden="true" onclick="requestSuccessDone()"></i>
            </div>
            <div class="check-true">
                <i class="fas fa-check"></i>
            </div>
            <h3>@SharedLocalizer["SuccessfullyRequest"]</h3>
            <button type="button" onclick="requestSuccessDone()"> @SharedLocalizer["Done"]</button>
        </div>
    </div>
</div>
