@{
    ViewData["Title"] = SharedLocalizer["Projects2"];
    ViewData["Level1Section"] = SharedLocalizer["Financials"];
    ViewData["Level2Section"] = SharedLocalizer["Projects2"];
}

@section HeaderActions{
    <ul class="export-table-data">
        <li>
            <a class="parent"> <i class="fas fa-download"></i>@SharedLocalizer["Export"]</a>
            <ul class="child-exp">
                <li class="pdf-text">@SharedLocalizer["ExportAs"]<span>PDF</span></li>
                <li class="excel-text">@SharedLocalizer["ExportAs"] <span>XLS</span></li>
            </ul>
        </li>
    </ul>
    <button type="button" class="btn btn-search-top-header" onclick="favourite('')">
        <i id="favouriteIcon_" class="far fa-star"></i>
    </button>

}


<div class="row mx-2 justify-content-end">
    <div class="col-12 col-md-9">
        <div class="input-group mb-3 justify-content-start">
            <a href="#" class="filter-open"><i class="fas fa-sliders-h"></i>@SharedLocalizer["Filter"]</a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div class="input-group mb-3 justify-content-end">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input class="form-control" type="text" id="searchbox" placeholder="@SharedLocalizer["SearchOpportunities"]">
        </div>
    </div>


</div>

<div class="card  mx-2">
    <div class="card-body" id="getProjects">
        @await Html.PartialAsync("_showProjectsPartial", new List<ProjectViewModel>())
    </div>
</div>

@section Scripts{
    <script src="~/js/projects.js"></script>
    <script>

        var stateLoadParams = function (settings, data) {
            var searchData = data.search.search;
            $("#searchbox").val(searchData);
        }
        $(document).ready(function () {
            getAllProjects();

        })
    </script>
}