@*@model List<JournalEntryViewModel>*@

<div class="card">
    @*<div class="card-header bg-secondary">
        @Model.Description <span>@Model.CreatedDate.ToString("MM/dd/yyyy")</span>
    </div>*@
    <table class="table table-striped">
        <thead>
            <tr class="font-table">
                <th>@SharedLocalizer["Account"]</th>
                <th>@SharedLocalizer["Debit"]</th>
                <th>@SharedLocalizer["Credit"]</th>

            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
            {
            <tr>
                <td>@(SharedLocalizer.IsRightToLeft()?item.AccountNameAr:item.AccountName)</td>
                <td>@item.DebitAmount</td>
                <td>@item.CreditAmount</td>
                <td></td>
            </tr>
            }*@

        </tbody>
        <tfoot>
            @*<tr class="font-table">
                <th></th>
                <th>@Model.Sum(y => y.DebitAmount)</th>
                <th>@Model.Sum(y => y.CreditAmount)</th>
                <th>@SharedLocalizer["Total"]</th>
            </tr>*@
        </tfoot>
    </table>
</div>
