@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
    var returnUrl = Context.Request.Query["returnurl"];
}

<div class="login-box">
    <div class="login-logo">
        <a class="show-loader" asp-controller="Home" asp-action="Index">
            <img src="~/lib/adminlte/dist/img/Logo.svg" />
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@SharedLocalizer["LoginMessage"]</p>

            <form method="post" asp-action="Login" asp-route-returnurl="@returnUrl" id="form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" placeholder="@SharedLocalizer["Email"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" placeholder="@SharedLocalizer["Password"]">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label class="" for="remember">
                                @SharedLocalizer["RememberMe"]
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <input type="submit" value="@SharedLocalizer["SignIn"]" class="btn btn-primary btn-block btn-flat show-loader" />
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                @*<p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>*@
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1 forget-pass">
                <a class="show-loader" asp-action="ForgotPassword">@SharedLocalizer["ForgotPassword"]</a>
            </p>
            @*<p class="mb-0">
                    <a asp-action="Register" class="text-center">Register a new membership</a>
                </p>*@
        </div>
        <!-- /.login-card-body -->
    </div>
    <div class=" text-right">
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>
</div>

