@model List<OpportunityViewModel>

<table class="table table-head-fixed " id="datatable_Opportunities">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["ID"]
            </th>
            <th class="d-none">
                Tender #
            </th>
            <th>
                @SharedLocalizer["Name"]
            </th>
            <th class="w-200">
                @SharedLocalizer["DepartmentId"]
            </th>
            <th class="w-150">
                @SharedLocalizer["TypeId"]
            </th>
            <th class="w-250">
                @SharedLocalizer["CustomerName"]
            </th>
            <th class="no-sort d-none">
                @SharedLocalizer["SalesAgent"]
            </th>
            <th class="w-200 th-pending">
                <span>@SharedLocalizer["PendingOn"]</span>
            </th>
            <th>
                @SharedLocalizer["Budget"]
            </th>
            <th class="w-200">
                @SharedLocalizer["Progress"]
            </th>
            <th class="w-200">
                @SharedLocalizer["DueDate"]
            </th>
            <th class="no-sort">
                @SharedLocalizer["Actions"]
            </th>
            <th class="no-sort d-none">
                Opportunity Status Id
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label_table="@SharedLocalizer["ID"]"
                    data-sort="@item.SerialStr">
                    <span class="id-details">
                        #@item.SerialStr
                    </span>
                </td>
                <td class="d-none" data-label_table="@SharedLocalizer["Tender"]">
                    @item.TenderNumber
                </td>
                <td data-label_table="@SharedLocalizer["Name"]"
                    title="@item.Name"
                    data-sort="@item.Name">
                    <span class="name-details one-line">
                        @item.Name
                    </span>
                </td>
                <td data-label_table="@SharedLocalizer["DepartmentId"]"
                    title="@(SharedLocalizer.IsRightToLeft() ? item.DepartmentNameAr : item.DepartmentName)"
                    data-sort="@(SharedLocalizer.IsRightToLeft() ? item.DepartmentNameAr : item.DepartmentName)"
                    data-filter="@item.DepartmentId">
                    <span class="one-line sales-agent-details">
                        @(SharedLocalizer.IsRightToLeft() ? item.DepartmentNameAr : item.DepartmentName)
                    </span>
                </td>
                <td data-label_table="@SharedLocalizer["TypeName"]"
                    data-sort="@(SharedLocalizer.IsRightToLeft()? item.TypeNameAr : item.TypeName)"
                    data-filter="@item.TypeId">
                    <span class="type-details @(!item.IsLocalTenderType ? "text-orange" : !item.IsLimitedTenderType ? "" : "text-navy")">
                        @(SharedLocalizer.IsRightToLeft()? item.TypeNameAr : item.TypeName)
                    </span>
                </td>
                <td data-label_table="@SharedLocalizer["CustomerName"]"
                    title="@(SharedLocalizer.IsRightToLeft()? item.CustomerNameAr : item.CustomerName)"
                    data-sort="@(SharedLocalizer.IsRightToLeft()? item.CustomerNameAr : item.CustomerName)">
                    <span class="customer-name-details one-line">
                        @(SharedLocalizer.IsRightToLeft()? item.CustomerNameAr : item.CustomerName)
                    </span>
                </td>
                <td class="d-none" data-label_table="@SharedLocalizer["SalesAgent"]">
                    <span class="sales-agent-details">
                        @item.SalesAgentName
                    </span>
                </td>
                <td data-label_table="@SharedLocalizer["Pending"]">
                    <span class="pending-span Bidbond">@(SharedLocalizer.IsRightToLeft() ? item.PendingStrAr1 : item.PendingStr1)</span>
                    @if (@item.PendingStr2 != "")
                    {
                        <span class="pending-span BookTender">@(SharedLocalizer.IsRightToLeft() ? item.PendingStrAr2 : item.PendingStr2)</span>
                    }
                    else
                    {
                        <span class="d-none"></span>
                    }
                </td>
                <td data-label_table="@SharedLocalizer["Budget"]" class="sales-agent-details">
                    @item.Budget
                </td>
                <td data-label_table="@SharedLocalizer["Progress"]"
                    data-sort="@item.Progress">
                    <div class="progress position-relative">
                        <span class="progress-text">@(item.Progress)%</span>
                        <div class="progress-bar @(item.Progress < 50 ? "bg-danger" : "bg-info")" role="progressbar" style="width: @(item.Progress.ToString() + "%")" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <span class="progress-symbol">
                        @(SharedLocalizer.IsRightToLeft()? item.ProgressSymbolAr : item.ProgressSymbol)
                    </span>
                </td>
                <td class="date-details" data-label_table="@SharedLocalizer["DueDate"]"
                    data-sort="@item.DueDate.Value.ToString("yyyy-MM-dd")"
                    data-filter="@item.DueDate.Value.ToString("dd/MM/yyyy", new CultureInfo("en-US"))">
                    @item.DueDate.Value.ToString("yyyy/MM/dd")
                </td>
                <td class="actions-table-btn min-w-250" data-label_table="@SharedLocalizer["Actions"]">
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Opportunities.Details)).Succeeded)
                    {

                        <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Opportunities" class="btn btn-info info-details my-1 show-loader-ajax">
                            <i class="fas fa-info"></i>
                        </a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Opportunities.Edit)).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Opportunities" class="btn btn-edit show-loader-ajax">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                    <button type="button" class="btn btn-fav my-1" onclick="favourite('@item.Id')">
                        <i id="favouriteIcon_@item.Id" class="fa@(item.IsFavourite ? "s" : "r") fa-star"></i>
                    </button>
            
                </td>
                <td class="d-none">
                    @item.StatusId
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5"></th>
            <th colspan="1" class="total-opportunities">@SharedLocalizer["Total"]: @ViewData["BudgetTotal"] </th>
            <th colspan="1" class="total-currenc-opportunities"></th>
            <th colspan="6"></th>
        </tr>
    </tfoot>
</table>
