@model List<CustomerViewModel>

<table class="table table-head-fixed table-customers">
    <thead>
        <tr>
            <th class="no-sort"></th>
            <th>
                @SharedLocalizer["Id"]
            </th>
            <th>
                @SharedLocalizer["Name"]
            </th>
            <th>
                @SharedLocalizer["NameAr"]
            </th>
            <th>
                @SharedLocalizer["CreatedById"]
            </th>
            <th>
                @SharedLocalizer["LastVisit"]
            </th>
            <th class="no-sort">
                @SharedLocalizer["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td class="@(item.ChildVMs.Count > 0 ? "dt-control" : "")"></td>
                <td class="id">
                    @item.Id
                </td>
                <td title="@item.Name">
                    <span class="name-details one-line">@item.Name</span>
                </td>
                <td class="toggle-td" title="@item.NameAr">
                    <span class="name-details one-line">@item.NameAr</span>
                </td>
                <td class="created-by">
                    <span>@item.CreatedByName</span>
                </td>
                <td class="last-visit">
                    <span>No visits</span>
                </td>
                <td class="actions-table-btn min-w-250" data-label="@SharedLocalizer["Actions"]">
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Customers.Details)).Succeeded)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info info-details my-1 show-loader-ajax">
                            <i class="fas fa-info"></i>
                        </a>
                    }
                    <button type="button" class="btn btn-fav my-1" onclick="favourite(@item.Id)">
                        <i id="favouriteIcon_@item.Id" class="fa@(item.IsFavourite ? "s" : "r") fa-star"></i>
                    </button>
                    <a href="@item.WebsiteUrl" target="_blank" class="btn website-link ">
                        <span>@SharedLocalizer["Website"]</span>
                    </a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Customers.Edit)).Succeeded)
                    {
                        <a class="btn btn-edit show-loader" asp-action="Edit" asp-route-id="@item.Id" title="@SharedLocalizer["Edit"]">
                            <i class="far fa-edit"></i>
                        </a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.Customers.Delete)).Succeeded)
                    {
                        if (!item.IsArchived)
                        {
                            <a data-toggle="confirmation"
                               class="btn btn-delete custome-confirm-delete"
                               data-source="archiveCustome"
                               data-itemid="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-delete-unarchive show-loader custome-confirm-delete" data-source="unArchiveCustome" data-itemid="@item.Id" title="@SharedLocalizer["Unarchive"]">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
