@using Newtonsoft.Json

@model List<Audit>

@{
    ViewData["Title"] = SharedLocalizer["AuditLogs"];
    //ViewData["Level1Section"] = SharedLocalizer["Lookups"];
}

<div class="row mx-4 justify-content-end">
    <div class="col-12 col-md-3">
        <input type="date" class="form-control" id="dateSearch" onchange="location.href = '/AuditLogs?dateSearch=' + this.value" value="@(((DateTime)ViewBag.DateSearch).ToString("yyyy-MM-dd"))" />
    </div>
    <div class="col-12 col-md-3">
        <div class="input-group mb-3 justify-content-end">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input class="form-control" type="text" id="searchbox" placeholder="@SharedLocalizer["SearchLogs"]">
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body p-0 table-bank">
        <table class="table table-head-fixed table-auditlogs">
            <thead>
                <tr>
                    <th>
                        @SharedLocalizer["User"]
                    </th>
                    <th>
                        @SharedLocalizer["Action"]
                    </th>
                    <th>
                        @SharedLocalizer["TableName"]
                    </th>
                    <th>
                        @SharedLocalizer["Date"]
                    </th>
                    @*<th>
                            @SharedLocalizer["OldValues"]
                        </th>*@
                    <th>
                        @SharedLocalizer["NewValues"]
                    </th>
                    @*<th>
                            @SharedLocalizer["AffectedColumns"]
                        </th>*@
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="bank-name">
                            @if (item.User != null)
                            {
                                @item.User.FirstName@:&nbsp;@item.User.LastName
                            }
                        </td>
                        <td class="type">
                            @item.Type
                        </td>
                        <td class="table-name">
                            @item.TableName
                        </td>
                        <td class="dateTime">
                            @item.DateTime.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        @*@{
                                if (item.OldValues != null)
                                {
                                    var oldValues = JsonConvert.DeserializeObject<Dictionary<string, string>>(item.OldValues);
                                    <td>
                                        @foreach (var value in oldValues)
                                        {
                                            <b>@value.Key: </b>
                                            @value.Value
                                            <br />
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }*@
                        @if (item.NewValues != null)
                        {
                            var newValues = JsonConvert.DeserializeObject<Dictionary<string, string>>(item.NewValues);
                            <td>
                                @foreach (var value in newValues)
                                {
                                    <p class="key">@value.Key: </p>
                                    <p class="value">@value.Value</p>
                                    <br />
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @*@if (item.AffectedColumns != null)
                            {
                                var affectedColumns = JsonConvert.DeserializeObject<List<string>>(item.AffectedColumns);
                                <td>
                                    @foreach (var value in affectedColumns)
                                    {
                                        @value
                                        <br />
                                    }
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            handleDataTable({
                selector: ".table-auditlogs"
            });
        })
    </script>
}