
@{
    ViewData["Title"] = SharedLocalizer["All Component"];
    ViewData["Level1Section"] = SharedLocalizer["All Component"];
}
<div class="allComponent-sp mx-4">
    <p class="text-success">
        if You want head box any projects only type
        <span class="text-warning">h3</span> class=>
        <span class="text-primary">head-box</span>
    </p>
    @* Copy Row  *@
    <div class="row mt-5 text-center">
        <div class="col-md-12 m-auto">
            @* Remove THis h3 Tag *@
            <h3 class="head-box mb-4 text-center">Upload Img Partners</h3>
            <div class="logo-section-partial">
                <div class="img-upload-partial">
                    <img src="/images/instagram.png" id="img-src-upload">
                </div>
                <div class="contant-partner-logo">
                    <span>Upload the company logo here</span>
                    <p>Logo maximum size is 300 px * 200 px</p>
                    <div class="btn-partner-edit">
                        <label for="upload-img-logo-edit-customer">
                            <span>Upload Image</span>
                            <input class="d-none" type="file" value="Upload Image" id="upload-img-logo-edit-customer" accept="image/x-png,image/gif,image/jpeg" name="LogoFile">
                        </label>
                        <a href="#" class="search-logo-edit-partner">
                            <span>Search for logo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-12">
            <h3 class="head-box">Input Mult File Upload</h3>
            @* Copy Form-group *@
            <div class="form-group">
                <label class="file file-upload-label" for="upload-recipe-attachment-2">
                    <span class="upload-file-icons">
                        <i class="fas fa-file-upload"></i>
                    </span>
                    <span class="span-upload">Upload</span>
                </label>
                <input class="custom-file-input d-none" id="upload-recipe-attachment-2" type="file" multiple="" name="Attachments">
                <div class="csUploadVendorCount">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3 class="head-box">Upload Mult file Header Background</h3>
            <div class="card card-transparent">
                <div class="card-body p-0">
                    <div class="heading-upload-file">
                        <h2>Attachments</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="file file-upload-label" for="file-upload">
                                <span class="upload-file-icons">
                                    <i class="fas fa-file-upload"></i>
                                </span>
                                <span class="span-upload">Upload</span>

                            </label>
                            <input class="d-none" id="file-upload" type="file" multiple="" aria-label="File browser example" name="TechnicalSpecificationVM.Files">
                            <span id="file-count-upload" class="file-custom"></span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="progress-list-container">
                <div class="progress-list-header">
                    @SharedLocalizer["TenderProgress"]
                </div>
                <ul class="progress-list">
                    <li class="progress-list-item done">
                        <span class="progress-list-dot"></span>
                        <span class="progress-list-text">
                            @SharedLocalizer["Opportunity"]
                        </span>
                    </li>
                    <li class="progress-list-item done">
                        <span class="progress-list-dot"></span>
                        <span class="progress-list-text">
                            @SharedLocalizer["Quotation"]
                        </span>
                    </li>
                    <li class="progress-list-item done">
                        <span class="progress-list-dot"></span>
                        <span class="progress-list-text">
                            @SharedLocalizer["TechnicalSession"]
                        </span>
                    </li>
                    <li class="progress-list-item active">
                        <span class="progress-list-dot"></span>
                        <span class="progress-list-text">
                            @SharedLocalizer["FinancialSession"]
                        </span>
                    </li>
                    <li class="progress-list-item">
                        <span class="progress-list-dot"></span>
                        <span class="progress-list-text">
                            @SharedLocalizer["PurchaseOrder"]
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-md-12">
            <h3 class="head-box text-center text-warning">All Buttons</h3>
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="head-box">Buttons Table</h3>
                    @* Coppy class ===> actions-table-btn  And Past To Last td Action*@
                    <div class="actions-table-btn">
                        <button class="btn btn-info info-details my-1">
                            <i class="fas fa-info"></i>
                        </button>
                        <a class="btn btn-sendemail  show-loader" title="Send confirmation email" href="">
                            <i class="far fa-envelope-open"></i>
                        </a>
                        <a class="btn btn-edit show-loader-ajax" title="Edit" href="">
                            <i class="far fa-edit"></i>
                        </a>
                        <a data-toggle="confirmation" class="btn btn-delete users-confirm-delete" data-source="archiveUsers" data-itemid="9e0520b9-d4f6-4d6d-a085-f980aa61a979" data-original-title="" title="">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a class="btn btn-manage show-loader" title="Manage Roles" href="">
                            <i class="fas fa-key"></i>
                        </a>
                        <a class="btn btn-manage show-loader" title="Manage Departments" href="">
                            <i class="fas fa-building"></i>
                        </a>
                        <a class="btn btn-resete show-loader" title="Reset Password" href="">
                            <i class="fas fa-lock"></i>
                        </a>
                        <a href="" target="_blank" class="btn website-link ">
                            <span>@SharedLocalizer["Website"]</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="head-box">Another Button</h3>
                    <div class="d-flex my-2">
                        <ul class="export-table-data mx-2">
                            <li>
                                <a class="parent"> <i class="fas fa-download"></i>Export</a>
                                <ul class="child-exp">
                                    <li class="pdf-text">Export as<span>PDF</span></li>
                                    <li class="excel-text">Export as <span>XLS</span></li>
                                </ul>
                            </li>
                        </ul>
                        <a class="btn btn-add-primary">Add Button Primary</a>
                    </div>
                    <button class="btn btn-outline-primary mx-2" value="Add" onclick="">
                        <i class="fas fa-check"></i> Add
                    </button>
                    <button class="btn btn-outline-success mx-2" value="Save" onclick="">
                        <i class="fas fa-check"></i> Update
                    </button>
                    <a class="btn btn-outline-danger mx-2 show-loader" href="">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                    <button type="button" class="btn btn-search-top-header" onclick="">
                        <i id="favouriteIcon_" class="far fa-star"></i>
                    </button>
                    <div class="my-2">
                        <h3 class="head-box"> Select Oprt</h3>
                        <div class="dropdown">
                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-plus"></i> New Opportunity <i class="fas fa-chevron-down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-opportunities" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a class="dropdown-item show-loader" title="Direct Offer" href="">
                                    Direct Offer
                                </a>
                                <a class="dropdown-item show-loader" title="Envelope" href="">
                                    Envelope
                                </a>
                                <a class="dropdown-item show-loader" title="Two Envelopes" href="">
                                    Two Envelopes
                                </a>
                                <a class="dropdown-item show-loader" title="Auction" href="">
                                    Auction
                                </a>
                                <a class="dropdown-item show-loader" title="Contract" href="">
                                    Contract
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="head-box"> Box img in Table</h3>
            <div class="img-user-request">
                <img src="/images/Users/4c00bdb7-65e7-4716-ac29-9e921f8fb7b9.png" class="img-circle user-img" alt="">
                <span class="light-blue-2">Muhamed Hamdi</span>
            </div>
        </div>
        <div class="col-md-12 my-5">
            <h3 class="head-box">Tab Header Border Bottom </h3>
            <ul class="nav nav-pills mainTab-details" id="mainTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="bo-tab" data-toggle="tab" href="#bo" role="tab" aria-controls="bo" aria-selected="true">@SharedLocalizer["LinkOne"]</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="td-tab" data-toggle="tab" href="#td" role="tab" aria-controls="td" aria-selected="false">@SharedLocalizer["LinkTwo"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="fg-tab" data-toggle="tab" href="#fg" role="tab" aria-controls="fg" aria-selected="false">@SharedLocalizer["LinkThree"]</a>
                </li>
            </ul>
            <br />
            <div class="tab-content" id="">
                <div class="tab-pane fade show active" id="bo" role="tabpanel" aria-labelledby="bo-tab">Tab One</div>
                <div class="tab-pane fade" id="td" role="tabpanel" aria-labelledby="td-tab">Tab Two</div>
                <div class="tab-pane fade" id="fg" role="tabpanel" aria-labelledby="fg-tab">Tab Three</div>
            </div>
            <ul class="nav nav-pills box" id="mainTab" role="tablist">
                <li class="nav-item top-tab-links-create-box">
                    <a class="nav-link active" id="si-tab" data-toggle="tab" href="#si" role="tab" aria-controls="si" aria-selected="true">
                        <span>1</span>
                        Sales Information
                    </a>
                </li>
                <li class="nav-item top-tab-links-create-box">
                    <a class="nav-link" id="ts-tab" data-toggle="tab" href="#ts" role="tab" aria-controls="ts" aria-selected="false">
                        <span>2</span>
                        Technical Specifications
                    </a>
                </li>
            </ul>
            <div class="tab-content px-4 sales-informations-tab-content" id="mainTabContent">
                <div class="tab-pane fade show active" id="si" role="tabpanel" aria-labelledby="si-tab">One</div>
                <div class="tab-pane fade" id="ts" role="tabpanel" aria-labelledby="ts-tab">Two</div>
            </div>

        </div>

        <div class="col-md-12 mb-2">
            <ul class="nav nav-pills mainTab-details" id="mainTab" role="tablist">
                <li class="tabs-link-outline-blue-bg-white">
                    <a class="nav-link active" id="offers-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offers" aria-selected="false">@SharedLocalizer["Tab New 01"]</a>
                </li>
                <li class="tabs-link-outline-blue-bg-white">
                    <a class="nav-link" id="ts-tab" data-toggle="tab" href="#ts" role="tab" aria-controls="tsb" aria-selected="false">@SharedLocalizer["Tab New 02"]</a>
                </li>
                <li class="tabs-link-outline-blue-bg-white">
                    <a class="nav-link" id="fs-tab" data-toggle="tab" href="#fs" role="tab" aria-controls="fs" aria-selected="false">@SharedLocalizer["Tab New 03"]</a>
                </li>
            </ul>
            <br />
            <div class="row mx-4">
                <div class="col-md-12">
                    <div class="tab-content" id="mainTabContent">
                        <div class="tab-pane fade active" id="offers" role="tabpanel" aria-labelledby="offers-tab">
                            Tab New 01
                        </div>

                        <div class="tab-pane fade" id="tsb" role="tabpanel" aria-labelledby="tsb-tab">
                            Tab New 02
                        </div>

                        <div class="tab-pane fade" id="fs" role="tabpanel" aria-labelledby="fs-tab">
                            Tab New 03
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 align-items-center">
        <div class="col-md-6 mb-2">
            <div class="form-group">
                <label class="control-label" for="Rank">Rank</label>
                <input type="hidden" class="value-input-range" data-val="true" data-val-range="The field Rank must be between 10 and 100." data-val-range-max="100" data-val-range-min="10" data-val-required="The Rank field is required." id="Rank" name="Rank" value="10">
                <div class="range">
                    <div class="bg-range-inp">
                        <ul class="list-number">
                            <li data-range_val="10">10</li>
                            <li data-range_val="20">20</li>
                            <li data-range_val="30">30</li>
                            <li data-range_val="40">40</li>
                            <li data-range_val="50">50</li>
                            <li data-range_val="60">60</li>
                            <li data-range_val="70">70</li>
                            <li data-range_val="80">80</li>
                            <li data-range_val="90">90</li>
                            <li data-range_val="100">100</li>
                        </ul>
                        <ul class="list-dashed">
                            <li class=" active-bg" data-range_val="10"></li>
                            <li class=" " data-range_val="20"></li>
                            <li class=" " data-range_val="30"></li>
                            <li class=" " data-range_val="40"></li>
                            <li class=" " data-range_val="50"></li>
                            <li class=" " data-range_val="60"></li>
                            <li class=" " data-range_val="70"></li>
                            <li class=" " data-range_val="80"></li>
                            <li class=" " data-range_val="90"></li>
                            <li class=" " data-range_val="100"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <label class="control-label">Button Tables</label>
            <div class="request-actions" data-label_table="Actions">
                <button type="button" class="request-actions-approved" title="Approve"><i class="fas fa-check"></i></button>
                <button type="button" class="request-actions-rejected" title="Reject"><i class="fas fa-times"></i></button>
                <span class="pending"> <i class="fas fa-history"></i>Pending</span>
                <a class="show-link btn" target="_blank" title="Go to link" href="#"><i class="fas fa-external-link-alt"></i></a>
                <a class="btn btn-info info-details my-1 show-loader cursor-pointer"><i class="fas fa-info"></i></a>
                <button type="button" class="btn my-tasks-done-btn"><i class="fas fa-check"></i> Done </button>
                <a class="btn btn-edit show-loader" title="Edit"><i class="far fa-edit"></i></a>
                <a class="btn btn-confirm-delete" title="" data-itemid="1004" data-source="myTask" data-original-title="Delete"><i class="fas fa-trash-alt"></i></a>
                <a class="btn btn-fa-bell-alarm"><i class="far fa-bell"></i></a>
                <a class="btn"><i class="fas fa-info-circle"></i></a>
            </div>
            <div class="actions-table-btn">
                <a class="btn btn-add my-1" target="_blank" title="Add Version" href="#"><i class="fas fa-plus"></i></a>
                <a class="btn btn-print my-1" target="_blank" title="Print" href="#"><i class="fas fa-print"></i></a>
                <a class="btn btn-print my-1" target="_blank" title="PrintMail" href="#"><i class="fas fa-at"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label" for="Rank">CheckBox</label>
            <div class="d-flex">
                <div class="custom-control custom-switch d-table-cell align-middle check-products ">
                    <input class="custom-control-input" id="itemIncluded_0" type="checkbox" checked="" onchange="isIncludedChanged('0')" data-val="true" data-val-required="The IsIncluded field is required." name="ProductVMs[0].IsIncluded" value="true" placeholder="" data-place="">
                    <label class="custom-control-label" for="itemIncluded_0"></label>
                </div>
                <div class="icheck-primary">
                    <input type="checkbox" id="CheckBox">
                    <label class="" for="CheckBox">
                        CheckBox
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h3 class="head-box">Tree</h3>
        <div class="col-md-12">
            <div class="tree-parent scroll-Custom" id="income-tree-parent" style="cursor: grab;">
                <div class="tree-financials">
                    <div class="all-box" id="incomeTree">

                        <div class="all-box">
                            <div class="box" id="account_7">
                                <i class="fas fa-ellipsis-v setting-tree-box-finan setting-tree-box-finan" onclick="openMenu(event , this)"></i>
                                <div class="setting-box">
                                    <button type="button"><i class="fas fa-plus"></i> <span>Add</span></button>
                                    <button type="button"><i class="far fa-edit"></i><span>Edit</span></button>
                                    <button type="button"><i class="far fa-eye"></i><span>View</span></button>
                                    <button><i class="fas fa-play"></i><span>Run</span></button>
                                    <button type="button"><i class="far fa-trash-alt"></i><span>Delete</span></button>
                                </div>
                                <p>Hambozo</p>
                                <p class="price">
                                    EGP
                                </p>
                                <div class="toggle-down" data-activetoggle="toggle-down-7">
                                    <span>4</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="boxes-child d-none">


                                    <div class="box-child" id="account_8">
                                        <i class="fas fa-ellipsis-v setting-tree-box-finan " onclick="openMenu(event , this)"></i>
                                        <div class="setting-box">
                                            <button type="button"><i class="fas fa-plus"></i> <span>Add</span></button>
                                            <button type="button"><i class="far fa-edit"></i><span>Edit</span></button>
                                            <button type="button"><i class="far fa-eye"></i><span>View</span></button>
                                            <button><i class="fas fa-play"></i><span>Run</span></button>
                                            <button type="button"><i class="far fa-trash-alt"></i><span>Delete</span></button>
                                        </div>
                                        <p>Test Test</p>
                                        <p class="price">
                                            EGP
                                        </p>
                                        <div class="toggle-down" data-activetoggle="toggle-down-8">
                                            <span>0</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>

                                        <div class="box-child-child d-none">



                                        </div>
                                    </div>
                                    <div class="box-child" id="account_11">
                                        <i class="fas fa-ellipsis-v setting-tree-box-finan " onclick="openMenu(event , this)"></i>
                                        <div class="setting-box">
                                            <button type="button"><i class="fas fa-plus"></i> <span>Add</span></button>
                                            <button type="button"><i class="far fa-edit"></i><span>Edit</span></button>
                                            <button type="button"><i class="far fa-eye"></i><span>View</span></button>
                                            <button><i class="fas fa-play"></i><span>Run</span></button>
                                            <button type="button"><i class="far fa-trash-alt"></i><span>Delete</span></button>
                                        </div>
                                        <p>df</p>
                                        <p class="price">
                                            EGP
                                        </p>
                                        <div class="toggle-down" data-activetoggle="toggle-down-11">
                                            <span>0</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>

                                        <div class="box-child-child d-none">



                                        </div>
                                    </div>
                                    <div class="box-child" id="account_12">
                                        <i class="fas fa-ellipsis-v setting-tree-box-finan " onclick="openMenu(event , this)"></i>
                                        <div class="setting-box">
                                            <button type="button"><i class="fas fa-plus"></i> <span>Add</span></button>
                                            <button type="button"><i class="far fa-edit"></i><span>Edit</span></button>
                                            <button type="button"><i class="far fa-eye"></i><span>View</span></button>
                                            <button><i class="fas fa-play"></i><span>Run</span></button>
                                            <button type="button"><i class="far fa-trash-alt"></i><span>Delete</span></button>
                                        </div>
                                        <p>df</p>
                                        <p class="price">
                                            EGP
                                        </p>
                                        <div class="toggle-down" data-activetoggle="toggle-down-12">
                                            <span>0</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>

                                        <div class="box-child-child d-none">



                                        </div>
                                    </div>
                                    <div class="box-child" id="account_13">
                                        <i class="fas fa-ellipsis-v setting-tree-box-finan " onclick="openMenu(event , this)"></i>
                                        <div class="setting-box">
                                            <button type="button"><i class="fas fa-plus"></i> <span>Add</span></button>
                                            <button type="button"><i class="far fa-edit"></i><span>Edit</span></button>
                                            <button type="button"><i class="far fa-eye"></i><span>View</span></button>
                                            <button><i class="fas fa-play"></i><span>Run</span></button>
                                            <button type="button"><i class="far fa-trash-alt"></i><span>Delete</span></button>
                                        </div>
                                        <p>defdf</p>
                                        <p class="price">
                                            EGP
                                        </p>
                                        <div class="toggle-down" data-activetoggle="toggle-down-13">
                                            <span>0</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </div>

                                        <div class="box-child-child d-none">



                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="box" id="account_9">
                                <i class="fas fa-ellipsis-v setting-tree-box-finan setting-tree-box-finan" onclick="openMenu(event , this)"></i>
                                <div class="setting-box">
                                    <button type="button"><i class="fas fa-plus"></i> <span>Add</span></button>
                                    <button type="button"><i class="far fa-edit"></i><span>Edit</span></button>
                                    <button type="button"><i class="far fa-eye"></i><span>View</span></button>
                                    <button><i class="fas fa-play"></i><span>Run</span></button>
                                    <button type="button"><i class="far fa-trash-alt"></i><span>Delete</span></button>
                                </div>
                                <p>Test Test</p>
                                <p class="price">
                                    EGP
                                </p>
                                <div class="toggle-down" data-activetoggle="toggle-down-9">
                                    <span>0</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="boxes-child d-none">



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="add-cat-new" onclick="addParentCategory(false)">
                <i class="fas fa-plus"></i>
            </div>
            <div class="category-dropdown" id="productsTree">

                <ul class="list-parent-category" id="list-parent-category">
                    <li class="name-category-parents first" id="item_1">
                        <span class="view-caregory">Default Category</span>
                        <span class="view-caregory">(DD01)</span>
                        <div class="full-act-tree">
                            <div class="items-count"><span class="count-items">7</span></div>
                            <span class="list-product-tree">
                                <i class="fas fa-bars"></i>
                            </span>

                            <div class="actions-product-tree">
                                <button type="button" class="info-cat">
                                    <i class="fas fa-info"></i>
                                </button>
                                <button type="button" class="info-cat">
                                    <i class="far fa-edit"></i>
                                </button>
                                <button type="button" class="add-cat-item">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <ul class="list-category-child">


                            <li class="sub-category first" id="item_3">
                                <span class="view-caregory">Test Arabic</span>
                                <span class="view-caregory">(DD0101)</span>
                                <div class="full-act-tree">
                                    <div class="items-count"><span class="count-items">0</span></div>
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="add-cat-item">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                                <ul class="list-category-child">




                                    <!-- <li class="item-category-child"></li> -->
                                </ul>
                            </li>
                            <li class="sub-category first" id="item_4">
                                <span class="view-caregory">لل</span>
                                <span class="view-caregory">(DD0102)</span>
                                <div class="full-act-tree">
                                    <div class="items-count"><span class="count-items">0</span></div>
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="add-cat-item">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                                <ul class="list-category-child">




                                    <!-- <li class="item-category-child"></li> -->
                                </ul>
                            </li>
                            <li class="sub-category first" id="item_5">
                                <span class="view-caregory">gdfg</span>
                                <span class="view-caregory">(DD0103)</span>
                                <div class="full-act-tree">
                                    <div class="items-count"><span class="count-items">0</span></div>
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="add-cat-item">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                                <ul class="list-category-child">
                                </ul>
                            </li>
                            <li class="item-category-child no-check-box-select">
                                Default Product
                                (DD0101)
                                <div class="full-act-tree">
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="item-category-child no-check-box-select">
                                لل
                                (DD0102)
                                <div class="full-act-tree">
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete" `>
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="item-category-child no-check-box-select">
                                gdfg
                                (DD0103)
                                <div class="full-act-tree">
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat" onclick="getProductInfo('3')">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat" onclick="editProduct('3')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete" onclick="deleteProduct('3', 'False', '1')">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="item-category-child no-check-box-select">
                                يي
                                (DD0104)
                                <div class="full-act-tree">
                                    <span class="list-product-tree">
                                        <i class="fas fa-bars"></i>
                                    </span>

                                    <div class="actions-product-tree">
                                        <button type="button" class="info-cat" onclick="getProductInfo('4')">
                                            <i class="fas fa-info"></i>
                                        </button>
                                        <button type="button" class="info-cat" onclick="editProduct('4')">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn-prod-delete" onclick="deleteProduct('4', 'False', '1')">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-parent-category" id="list-parent-category">
                    <li class="name-category-parents first" id="item_1006">
                        <span class="view-caregory">Hamdy New Categories</span>
                        <span class="view-caregory">(DD03)</span>
                        <div class="full-act-tree">
                            <div class="items-count"><span class="count-items">0</span></div>
                            <span class="list-product-tree">
                                <i class="fas fa-bars"></i>
                            </span>

                            <div class="actions-product-tree">
                                <button type="button" class="info-cat" onclick="getCategoryInfo('1006')">
                                    <i class="fas fa-info"></i>
                                </button>
                                <button type="button" class="info-cat" onclick="editCategory('1006')">
                                    <i class="far fa-edit"></i>
                                </button>
                                <button type="button" class="add-cat-item" onclick="addItem('1006')">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button type="button" class="btn-prod-delete" onclick="deleteCategory('1006', 'False', '1')">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </div>
                        </div>
                        <ul class="list-category-child">



                            <!-- <li class="item-category-child"></li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@* Best Regards ❤ Hamdi ❤  *@