
@model QuotationViewModel


@{
    ViewData["Title"] = Model.OpportunityName;
    ViewData["Level1Section"] = SharedLocalizer["Sales"];
    ViewData["Level2Section"] = SharedLocalizer["Quotations"];
    ViewData["Level2Url"] = Url.Action("Index");
    ViewData["Level3Section"] = SharedLocalizer["QuotationDetails"];

    ApplicationEnums.QuotationStatusEnum? statusEnum = ViewData["StatusEnum"] as ApplicationEnums.QuotationStatusEnum?;

    bool? isTwoEnvelopes = ViewData["IsTwoEnvelopes"] as bool?;

    int? statusId = (int?)ViewBag.StatusId;

    int btnCount = 0;
}

@section HeaderActions{

    <div id="changeableActions">
        @if (Model.TechnicalSessionStatus == null)
        {
            <a class="add-primary-outline show-loader" asp-action="AddOffer" asp-route-id="@Model.Id">
                <i class="fas fa-plus"></i> @SharedLocalizer["AddOffer"]
            </a>
            btnCount++;
        }

        @if (Model.OfferVMs.Count > 0 && Model.TechnicalSessionStatus == null)
        {
            <a class="add-primary-outline mx-2 show-loader" asp-action="AddCompetitorOffer" asp-route-id="@Model.Id">
                <i class="fas fa-plus"></i> @SharedLocalizer["AddCompetitor"]
            </a>
            btnCount++;
        }

        @if ((bool)isTwoEnvelopes && (int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.FinancialSession)
        {
            if (Model.CompetitorOfferVMs.Where(co => Model.CompetitorVMs.Where(c => c.IsTechnicalAccepted).Any(c => c.CompetitorId == co.CompetitorId)).SelectMany(x => x.ProductVMs).Any(p => p.IsIncluded && p.UnitPrice == null))
            {
                <a class="add-primary-main d-inline-block show-loader" asp-action="FinancialDetails" asp-route-id="@Model.Id">
                    <i class="fas fa-plus"></i> @SharedLocalizer["AddFinancialDetails"]
                </a>
                btnCount++;
            }
        }

        @if (Model.FinancialSessionStatus == ApplicationEnums.QuotationFinancialSessionStatus.Accepted)
        {
            <a asp-action="ConvertToPurchaseOrder" class="btn btn-check-head show-loader" asp-route-id="@Model.Id" title="@SharedLocalizer["ConvertToPurchaseOrders"]">
                <i class="fas fa-check"></i>
            </a>
            btnCount++;
        }
    </div>

    @if (btnCount > 0)
    {
        <div class="vertical-split"></div>
    }

    <div class="btn-actions-header-second">
        <button type="button" class="btn btn-action" onclick="favourite('@Model.Id')" title="@SharedLocalizer[Model.IsFavourite ? "RemoveFromFavourites" : "AddToFavourites"]">
            <i id="favouriteIcon_@Model.Id" class="fa@(Model.IsFavourite ? "s" : "r") fa-star"></i>
        </button>

        <a href="#" class="btn btn-action">
            <i class="fas fa-print"></i>
        </a>

        <a href="#" class="btn btn-action">
            <i class="fas fa-ellipsis-h"></i>
        </a>
    </div>
}

@section AdditionalHeaderContent{
    <ul class="nav nav-pills mainTab-details" id="mainTab" role="tablist">
        @*<li class="nav-item active">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">@SharedLocalizer["Overview"]</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link @(statusId == null || (statusId == (int)ApplicationEnums.QuotationStatusEnum.New) ? "active" : "")" id="offers-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="offers" aria-selected="false">@SharedLocalizer["Offers"]</a>
        </li>
        @if (!(bool)isTwoEnvelopes || Model.CompetitorOfferVMs.Count > 0)
        {
            if ((bool)isTwoEnvelopes && (int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession)
            {
                <li class="nav-item">
                    <a class="nav-link @(statusId == (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession ? "active" : "")" id="ts-tab" data-toggle="tab" href="#ts" role="tab" aria-controls="ts" aria-selected="false">@SharedLocalizer["TechnicalSession"]</a>
                </li>
            }
            if ((int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.FinancialSession)
            {
                <li class="nav-item">
                    <a class="nav-link @(statusId == (int)ApplicationEnums.QuotationStatusEnum.FinancialSession ? "active" : "")" id="fs-tab" data-toggle="tab" href="#fs" role="tab" aria-controls="fs" aria-selected="false">@SharedLocalizer["FinancialSession"]</a>
                </li>
            }
        }
    </ul>
}
<input type="hidden" asp-for="Id" id="detailsQuotationId" />
<br />
<div class="row d-flex align-items-center m-2">
    <div class="col-5">
        <p class="model-id">@SharedLocalizer["ID"]: #@Model.OpportunityVM.TenderNumber</p>
    </div>
    <div class="col-7 tender-flex">
        <div class="tender-progress">
            <h3 class="head-tender-progress">
                @SharedLocalizer["TenderProgress"]
            </h3>
            <ul class="list-tender-solid">
                <li class="done">
                    <a asp-controller="Opportunities" asp-route-id="@Model.OpportunityId" asp-action="Details" target="_blank"></a>
                </li>
                @if ((int)statusEnum.Value == (int)ApplicationEnums.QuotationStatusEnum.New)
                {
                    <li class="active"></li>
                }
                else if ((int)statusEnum.Value > (int)ApplicationEnums.QuotationStatusEnum.New)
                {
                    <li class="done"></li>
                }
                else
                {
                    <li class=""></li>
                }
                @if ((int)statusEnum.Value == (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession)
                {
                    <li class="active"></li>
                }
                else if ((int)statusEnum.Value > (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession)
                {
                    <li class="done"></li>
                }
                else
                {
                    <li class=""></li>
                }
                @if ((int)statusEnum.Value == (int)ApplicationEnums.QuotationStatusEnum.FinancialSession)
                {
                    <li class="active"></li>
                }
                else if ((int)statusEnum.Value > (int)ApplicationEnums.QuotationStatusEnum.FinancialSession)
                {
                    <li class="done"></li>
                }
                else
                {
                    <li class=""></li>
                }
                <li class=""></li>
            </ul>
            <ul class="list-tender-progress">
                <li class="">
                    <a asp-controller="Opportunities" asp-route-id="@Model.OpportunityId" asp-action="Details" target="_blank">@SharedLocalizer["Opportunity"]</a>
                </li>
                <li class="">@SharedLocalizer["Quotation"]</li>
                <li class="">@SharedLocalizer["TechnicalSession"]</li>
                <li class="">@SharedLocalizer["FinancialSession"]</li>
                <li class="">@SharedLocalizer["PurchaseOrder"]</li>
            </ul>
        </div>
    </div>
</div>

<div class="row mx-3">
    <div class="col-md-12">
        <div class="tab-content" id="mainTabContent">
            <div class="tab-pane fade @(statusId == null || (statusId == (int)ApplicationEnums.QuotationStatusEnum.New) ? "show active" : "")" id="offers" role="tabpanel" aria-labelledby="offers-tab">
                @if (Model.OffersNo > 0)
                {
                    @await Html.PartialAsync("_OffersPartial", Model.OfferVMs, new ViewDataDictionary(ViewData) { { "ShowFinishButton", false } })
                }
                else
                {
                    <a class="add-primary new-offer" asp-action="AddOffer" asp-route-id="@Model.Id">
                        <i class="fas fa-plus"></i> @SharedLocalizer["AddOffer"]
                    </a>
                    <p class="no-msg">@SharedLocalizer["NoOffersAddedMSG"]</p>
                }
            </div>
            @if (!(bool)isTwoEnvelopes || Model.CompetitorOfferVMs.Count > 0)
            {
                if ((bool)isTwoEnvelopes && (int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession)
                {
                    <div class="tab-pane fade @(statusId == (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession ? "show active" : "")" id="ts" role="tabpanel" aria-labelledby="ts-tab">
                        @await Html.PartialAsync("_TechnicalSessionPartial")
                    </div>
                }
                if ((int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.FinancialSession)
                {
                    <div class="tab-pane fade @(statusId == (int)ApplicationEnums.QuotationStatusEnum.FinancialSession ? "show active" : "")" id="fs" role="tabpanel" aria-labelledby="fs-tab">
                        @await Html.PartialAsync("_FinancialSessionPartial")
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/chartjs/chart.min.js"></script>
    <script src="~/js/quotations.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            @if ((bool)isTwoEnvelopes && (int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.TechnicalSession)
            {
                @*@:getConversationMessages();*@
                @:getSupplierMassages();
            }
            @if ((int)statusEnum.Value >= (int)ApplicationEnums.QuotationStatusEnum.FinancialSession)
            {
                // Call Charts Function Comparison
                @:chartComparison();
            }

            getNegotiationSupplierMassages();
            //getNegotiationCutomersMassages();

            checkLG();
            showHideSections('performance');
            showHideSections('final');
            calculatePaidAmount('performance');
            calculatePaidAmount('final');
            calculateExpiryDate('performance');
            calculateExpiryDate('final');
            getBankDetails('performance');
            getBankDetails('final');
            checkAdvanceType();
            checkAdvanceValue($("#advance-cheque-value")[0]);
            checkAdvanceValue($("#advance-transfer-value")[0]);

            var clickFn = function () {
                var tr = $(this).closest('tr');
                var row = table.api().row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    let itemId = row.data()["DT_RowId"];
                    $.get(`/Quotations/GetAlternateVersionData?versionId=${itemId}`, function (result) {
                        row.child(result).show();
                        tr.addClass('shown');
                    })
                }
            }

            let table = handleDataTable({
                selector: ".table-offers",
                childClickFn: clickFn,
                paging: false
            });
        });
    </script>
}