
@using static portal.speedspot.Models.Constants.ApplicationEnums

@model List<QuotationViewModel>

@{
    ViewData["Title"] = SharedLocalizer["Quotations"];
    ViewData["Level1Section"] = SharedLocalizer["Sales"];

    bool canViewDetails = (await AuthorizationService.AuthorizeAsync(User, Permissions.Quotations.Details)).Succeeded;

    bool isFavourite = (bool)ViewBag.IsFavourite;
}

@section HeaderActions{
    <button type="button" class="btn btn-search-top-header" onclick="favourite('')">
        <i id="favouriteIcon_" class="fa@(isFavourite ? "s" : "r") fa-star"></i>
    </button>
}

@section AdditionalHeaderContent{
    <ul class="nav nav-pills mx-4 mainTab-details" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
               data-toggle="tab"
               onclick="getQuotations(null)">@SharedLocalizer["All"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               data-toggle="tab"
               onclick="getQuotations(0)">@SharedLocalizer["New"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               data-toggle="tab"
               onclick="getQuotations(1)">@SharedLocalizer["TechnicalSession"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               data-toggle="tab"
               onclick="getQuotations(2)">@SharedLocalizer["FinancialSession"]</a>
        </li>
    </ul>
}

<br />

<div class="tab-content" id="mainTabContent">
    <div class="tab-pane fade show px-2 active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="row mx-4 justify-content-end">
            <div class="col-12 col-md-3">
                <div class="input-group mb-3 justify-content-end">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input class="form-control" type="text" id="searchbox" placeholder="@SharedLocalizer["SearchQuotations"]">
                </div>
            </div>
        </div>

        <div class="card mx-2 Quotations-section">
            <div class="card-body p-0" id="getQuotations">
            </div>
        </div>
    </div>
    @*<div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">

        </div>
        <div class="tab-pane fade" id="ts" role="tabpanel" aria-labelledby="ts-tab">

        </div>
        <div class="tab-pane fade" id="fs" role="tabpanel" aria-labelledby="fs-tab">

        </div>*@
    @*<div class="tab-pane fade" id="qc" role="tabpanel" aria-labelledby="qc-tab">

        </div>*@
</div>



@section Scripts{
    <script src="~/js/quotations.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            getQuotations(null);
        })
    </script>
}




















