
@model RoleViewModel

@{
    bool isRTL = SharedLocalizer.IsRightToLeft();
    ViewData["Title"] = isRTL ? Model.NameAr : Model.Name;
}
@section HeaderActions{
    <button class="btn btn-outline-success mx-2 headres-action-global" value="Save" onclick="saveForm()">
        <i class="fas fa-check"></i> @SharedLocalizer["Update"]
    </button>

    <a asp-action="Index" class="btn btn-outline-danger mx-2 show-loader headres-action-global">
        <i class="fas fa-times"></i> @SharedLocalizer["Cancel"]
    </a>
}

<form method="post" asp-action="Edit" class="d-inline" id="roleForm">
    <div class="form-global-inp mx-4">
        <div class="">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />

            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label class="control-label lable-create-roles" asp-for="Name">@SharedLocalizer["Name"]</label>
                        <input class="form-control inp-height" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label class="control-label lable-create-roles" asp-for="NameAr">@SharedLocalizer["NameAr"]</label>
                        <input class="form-control inp-height" asp-for="NameAr" />
                        <span asp-validation-for="NameAr" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label lable-create-roles" asp-for="Description">@SharedLocalizer["Description"]</label>
                        <textarea rows="2" class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            @*            <input type="button" value="@SharedLocalizer["Save"]" class="btn btn-save show-loader" />
                <a asp-action="Index" class="btn btn-default float-right show-loader">
                    @SharedLocalizer["Cancel"]
                </a>*@
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/roles.js"></script>
}
