
@model VisitViewModel

<div class="col-xs-12 col-lg-4">
    <div class="form-group">
        <label class="control-label label-sales-information" asp-for="CustomerId"></label>*
        <select class="form-control inp-height"
                data-live-search="true"
                asp-for="CustomerId"
                asp-items="@(new SelectList(ViewBag.CustomerId as List<Customer>, "Id", SharedLocalizer.IsRightToLeft()? "NameAr" : "Name"))">
            <option value="">@SharedLocalizer["Select"]</option>
        </select>
        <span class="text-danger" asp-validation-for="CustomerId"></span>
    </div>
</div>
<div class="col-xs-12 col-lg-4">
    <div class="form-group">
        <label class="control-label label-sales-information" asp-for="ReasonId"></label>*
        <select class="form-control inp-height" asp-for="ReasonId"
                data-live-search="true"
                asp-items="@(new SelectList(ViewBag.ReasonId as List<VisitReason>, "Id", SharedLocalizer.IsRightToLeft()? "NameAr" : "Name"))">
            <option value="">@SharedLocalizer["Select"]</option>
        </select>
        <span class="text-danger" asp-validation-for="ReasonId"></span>
    </div>
</div>
<div class="col-xs-12 col-lg-4">

</div>
<div class="col-xs-12 col-lg-4">
    <div class="form-group">
        <label class="control-label label-sales-information" asp-for="Date"></label>*
        <input class="form-control inp-height" asp-for="Date">
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>
</div>
<div class="col-xs-12 col-lg-4">
    <div class="form-group">
        <label class="control-label label-sales-information" asp-for="Time"></label>*
        <input class="form-control inp-height" asp-for="Time">
        <span class="text-danger" asp-validation-for="Time"></span>
    </div>
</div>
<div class="col-xs-12 col-lg-4">
    <div class="form-group VisitPeriod">
        <label class="control-label label-sales-information" asp-for="Duration"></label>*
        <input class="form-control inp-height" asp-for="Duration" min="1" oninput="this.value = Math.abs(this.value)" value="1">
        <span class="hours">@SharedLocalizer["Hours"]</span>
        <span class="text-danger" asp-validation-for="Duration"></span>
    </div>
</div>
<div class="col-xs-12 col-lg-5">
    <div class="form-group">
        <label class="control-label label-sales-information" asp-for="Notes"></label>*
        <textarea class="form-control textarea-visit" asp-for="Notes">
            </textarea>
        <span class="text-danger" asp-validation-for="Notes"></span>
    </div>
</div>
