@model List<VATValueViewModel>


<table class="table table-head-fixed table-VATValue-home">
    <thead>
        <tr>
            <th>@SharedLocalizer["Title"]</th>
            <th>@SharedLocalizer["Value"] (%)</th>
            <th class="no-sort"> @SharedLocalizer["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><span class="customer-name-details">@item.Title</span></td>
                <td><span class="customer-name-details">@item.Value</span></td>
                <td class="actions-table-btn">

                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.VATValues.Edit)).Succeeded)
                    {
                        <a class="btn btn-edit show-loader-ajax btn-table-width" asp-action="Edit" asp-route-id="@item.Id" title="@SharedLocalizer["Edit"]">
                            <i class="far fa-edit"></i>
                        </a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, Permissions.VATValues.Delete)).Succeeded)
                    {
                        if (!item.IsArchived)
                        {
                            <a data-toggle="confirmation "
                               class="btn btn-delete btn-table-width LookUps-confirm-delete"
                               data-source="archiveVATValues"
                               data-itemid="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-delete-unarchive show-loader btn-table-width LookUps-confirm-delete" data-toggle=confirmation data-source="unarchiveVATValues" data-itemid="@item.Id" title="@SharedLocalizer["Unarchive"]">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
