
@using static portal.speedspot.Models.Constants.ApplicationEnums

@model IList<PendingRequestViewModel>

@inject ArabicLanguageHelper ArLangHelper

<div class="justify-content-center filter-popup pending-popup">
    <div class="box-filter scroll-Custom">
        <div class="content ">
            <div class="row">
                <div class="col-6">
                    <div class="item">
                        <div class="form-group">
                            <label class="control-label" for="pendingOnMeCreatedByFilter">@SharedLocalizer["CreatedById"]</label>
                            <select class="form-control" id="pendingOnMeCreatedByFilter" data-live-search="true">
                                <option value="">@SharedLocalizer["All"]</option>
                                @if (ViewData["PendingOnMeCreatedById"] != null)
                                {
                                    @foreach (var assign in ViewData["PendingOnMeCreatedById"] as List<ApplicationUser>)
                                    {
                                        <option value="@assign.Id">@assign.FirstName @assign.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="item">
                        <div class="form-group">
                            <label for="pendingOnMeDeadlineFrom" class="control-label">@SharedLocalizer["DeadlineFrom"]</label>
                            <input id="pendingOnMeDeadlineFrom" type="date" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="item">
                        <div class="form-group">
                            <label for="pendingOnMeDeadlineTo" class="control-label">@SharedLocalizer["DeadlineTo"]</label>
                            <input id="pendingOnMeDeadlineTo" type="date" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="item">
                        <div class="form-group">
                            <label for="pendingOnMeCreatedDateFrom" class="control-label">@SharedLocalizer["CreatedDateFrom"]</label>
                            <input id="pendingOnMeCreatedDateFrom" type="date" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="item">
                        <div class="form-group">
                            <label for="pendingOnMeCreatedDateTo" class="control-label">@SharedLocalizer["CreatedDateTo"]</label>
                            <input id="pendingOnMeCreatedDateTo" type="date" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card ">
    <div class="bg-full-custom d-none" id="pom-spinner">
        <div class="spinner-loading-custom" role="status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="head-thing-to-be-done">
                <h2>@SharedLocalizer["PendingOnMe"]</h2>

                <a onclick="OpenModel('pendingOnMe' ,event)" class="filter-open"><i class="fas fa-sliders-h"></i>@SharedLocalizer["Filter"]</a>
            </div>
        </div>
        <div class="col-12">
            <div class="pendingOnMe-show-filter-choose filter-row">
                <div class="pendingOnMeCreatedBy-filter d-none select-filter"><span></span><i class="fas fa-times"></i></div>
                <div class="pendingOnMeCreatedDate-filter d-none date-filter"><span>@SharedLocalizer["Date"]: </span><span class="pendingOnMeCreatedDate-start"></span> - <span class="pendingOnMeCreatedDate-end"></span><i class="fas fa-times"></i></div>
                <div class="pendingOnMeDate-filter d-none date-filter"><span>@SharedLocalizer["Deadline"]: </span><span class="pendingOnMeDate-start"></span> - <span class="pendingOnMeDate-end"></span><i class="fas fa-times"></i></div>
                <div class="pendingOnMeResult-filter d-none result-filter"><span></span>&nbsp; @SharedLocalizer["Results"]</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <table class="table PendingRequest" id="table_pending">
                    <thead>
                        <tr>
                            <th scope="col">@SharedLocalizer["TypeId"]</th>
                            <th scope="col">@SharedLocalizer["CreatedById"]</th>
                            <th scope="col">@SharedLocalizer["Date"]</th>
                            <th scope="col">@SharedLocalizer["Deadline"]</th>
                            <th scope="col">@SharedLocalizer["StatusId"]</th>
                            <th class="no-sort" scope="col">@SharedLocalizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="type-request" scope="row" data-label_table='@SharedLocalizer["TypeId"]'>
                                    <span class="light-blue">@SharedLocalizer[item.Source.ToString()]</span>
                                </td>
                                <td class="employee-name" data-label_table='@SharedLocalizer["CreatedById"]'
                                    data-sort="@item.RequestedByName" data-filter="@item.RequestedById">
                                    <div class="img-user-request">
                                        @if (item.RequestedByProfilePicture != null)
                                        {
                                            <img src="/images/Users/@item.RequestedByProfilePicture" class="img-circle user-img" alt="">
                                        }
                                        else
                                        {
                                            <img src="/images/default-user.png" class="img-circle user-img" alt="">
                                        }
                                        <span class="light-blue-2">@item.RequestedByName</span>
                                    </div>
                                </td>
                                <td class="date-request" data-label_table='@SharedLocalizer["Date"]'
                                    data-sort="@item.RequestedDate.ToString("yyyy-MM-dd HH:mm")" data-filter="@item.RequestedDate.ToString("dd/MM/yyyy", new CultureInfo("en-US"))">
                                    <p class="exclamation">
                                        <span class="date">@item.RequestedDate.ToString("dd/MM/yyyy")</span>
                                        <span class="time">@item.RequestedDate.ToString("hh:mm tt")</span>
                                    </p>
                                </td>
                                <td class="date-request" data-label_table='@SharedLocalizer["Deadline"]'
                                    data-sort="@item.Deadline.Value.ToString("yyyy-MM-dd HH:mm")" data-filter="@item.Deadline.Value.ToString("dd/MM/yyyy", new CultureInfo("en-US"))">
                                    <p class="exclamation">
                                        @if (item.Deadline.Value >= DateTime.UtcNow)
                                        {
                                            <i class="fas fa-exclamation pom @item.DaysRemainingClass"
                                               rel="tooltip"
                                               title="@SharedLocalizer["EndingIn"] @(SharedLocalizer.IsRightToLeft() ?
                                        ArLangHelper.GetDayStringByNumber(item.DaysRemaining.Value) : item.DaysRemaining.ToString() + " " + SharedLocalizer["SmallDays"].Value)"></i>
                                        }
                                        <span class="date">@item.Deadline?.ToString("dd/MM/yyyy")</span><br />
                                        <span class="time">@item.Deadline?.ToString("hh:mm tt")</span>
                                    </p>
                                </td>
                                <td data-label_table='@SharedLocalizer["StatusId"]'
                                    data-sort="@((int)item.Status)">
                                    @if (item.Status == ApplicationEnums.RequestStatusEnum.Pending)
                                    {
                                        <div class="status-block pending">
                                            <div class="info-popup invisible">
                                                i
                                            </div>
                                            <span class="status-label"> <i class="fas fa-history"></i> @SharedLocalizer["Pending"] </span>
                                        </div>
                                    }
                                    else if (item.Status == ApplicationEnums.RequestStatusEnum.Approved)
                                    {
                                        <div class="status-block approved">
                                            <div class="info-popup">
                                                i
                                                <div class="show-action-popup">
                                                    <div class="parents">
                                                        @if (item.Source != PendingRequestSourceEnum.GeneralRequest)
                                                        {
                                                            <div class="child-status">
                                                                @if (item.SentByProfilePicture != null)
                                                                {
                                                                    <img src="/images/Users/@item.SentByProfilePicture" class="img-circle user-img" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img src="/images/default-user.png" class="img-circle user-img" alt="">
                                                                }
                                                                <div class="sent">
                                                                    <p>@item.SentByName</p>
                                                                    <span class="sent"> <i class="fas fa-check"></i> @SharedLocalizer["Sent"]</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="child-status">
                                                            @if (item.StatusByProfilePicture != null)
                                                            {
                                                                <img src="/images/Users/@item.StatusByProfilePicture" class="img-circle user-img" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img src="/images/default-user.png" class="img-circle user-img" alt="">
                                                            }
                                                            <div class="approved">
                                                                <p>@item.StatusByName</p>
                                                                <span class="approved"> <i class="fas fa-check"></i> @SharedLocalizer["Approved"]</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="status-label"><i class="fas fa-check"></i>  @SharedLocalizer["Approved"]</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="status-block rejected">
                                            <div class="info-popup">
                                                i
                                                <div class="show-action-popup">
                                                    <div class="parents">
                                                        @if (item.Source != ApplicationEnums.PendingRequestSourceEnum.GeneralRequest)
                                                        {
                                                            <div class="child-status">
                                                                @if (item.SentByProfilePicture != null)
                                                                {
                                                                    <img src="/images/Users/@item.SentByProfilePicture" class="img-circle user-img" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img src="/images/default-user.png" class="img-circle user-img" alt="">
                                                                }
                                                                <div class="sent">
                                                                    <p>@item.SentByName</p>
                                                                    <span class="sent"> <i class="fas fa-check"></i> @SharedLocalizer["Sent"]</span>
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="child-status">
                                                            @if (item.StatusByProfilePicture != null)
                                                            {
                                                                <img src="/images/Users/@item.StatusByProfilePicture" class="img-circle user-img" alt="">
                                                            }
                                                            else
                                                            {
                                                                <img src="/images/default-user.png" class="img-circle user-img" alt="">
                                                            }
                                                            <div class="rejected">
                                                                <p>@item.StatusByName</p>
                                                                <span class="rejected"> <i class="fas fa-times"></i> @SharedLocalizer["Rejected"]</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="status-label"> <i class="fas fa-times"></i> @SharedLocalizer["Rejected"] </span>
                                        </div>
                                    }
                                </td>
                                <td class="request-actions" data-label_table='@SharedLocalizer["Actions"]'>
                                    @if (item.Status == ApplicationEnums.RequestStatusEnum.Pending)
                                    {
                                        if (item.IsSent)
                                        {
                                            <button type="button" class="request-actions-approved" onclick="approveRequest('@item.Id', '@item.Source')" title="@SharedLocalizer["Approve"]"><i class="fas fa-check"></i></button>
                                            <button type="button" class="request-actions-rejected" onclick="rejectRequest('@item.Id', '@item.Source')" title="@SharedLocalizer["Reject"]"><i class="fas fa-times"></i></button>

                                            <a class="request-actions-link" target="_blank" asp-controller="@item.Controller" asp-action="Details" asp-route-id="@item.ItemId" title="@SharedLocalizer["GoToLink"]">
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            if (item.Source == PendingRequestSourceEnum.GeneralRequest)
                                            {
                                                <button type="button" class="request-actions-approved" onclick="approveRequest('@item.Id', '@item.Source')" title="@SharedLocalizer["Approve"]"><i class="fas fa-check"></i></button>
                                                <button type="button" class="request-actions-rejected" onclick="rejectRequest('@item.Id', '@item.Source')" title="@SharedLocalizer["Reject"]"><i class="fas fa-times"></i></button>
                                            }
                                            else
                                            {
                                                <span class="pending"> <i class="fas fa-history"></i>@SharedLocalizer["Pending"]</span>
                                                <a class="request-actions-link" target="_blank" asp-controller="@item.Controller" asp-action="Details" asp-route-id="@item.ItemId" title="@SharedLocalizer["GoToLink"]">
                                                    <i class="fas fa-external-link-alt"></i>
                                                </a>
                                            }
                                        }
                                    }
                                    else if (item.Status == ApplicationEnums.RequestStatusEnum.Approved)
                                    {
                                        <span class="approved"><i class="fas fa-check"></i>@SharedLocalizer["Approved"]</span>
                                        if (item.Source != PendingRequestSourceEnum.GeneralRequest)
                                        {
                                            if ((bool)ViewData["IsManager"])
                                            {
                                                <button type="button" onclick="undoRequest('@item.Id', '@item.Source')" class="request-actions-info" title="@SharedLocalizer["Undo"]"> <i class="fas fa-undo"></i></button>
                                            }

                                            <a class="request-actions-link" asp-controller="@item.Controller" asp-action="Details" asp-route-id="@item.ItemId" title="@SharedLocalizer["GoToLink"]">
                                                <i class="fas fa-external-link-alt"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <button type="button" onclick="undoRequest('@item.Id', '@item.Source')" class="request-actions-info" title="@SharedLocalizer["Undo"]"> <i class="fas fa-undo"></i></button>
                                        }
                                    }
                                    else if (item.Status == ApplicationEnums.RequestStatusEnum.Rejected)
                                    {
                                        <span class="rejected"><i class="fas fa-times"></i>@SharedLocalizer["Rejected"]</span>
                                        if ((bool)ViewData["IsManager"] || item.Source == PendingRequestSourceEnum.GeneralRequest)
                                        {
                                            <button type="button" onclick="undoRequest('@item.Id', '@item.Source')" class="request-actions-info" title="@SharedLocalizer["Undo"]"> <i class="fas fa-undo"></i></button>
                                        }
                                    }
                                    @if (item.Source == ApplicationEnums.PendingRequestSourceEnum.GeneralRequest)
                                    {
                                        <button class="request-actions-info" onclick="getDatails(@item.Id)">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


