
<table class="table table-head-fixed " id="tableInprogressBills">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["No."]
            </th>
            <th>
                @SharedLocalizer["Created BY"]
            </th>
            <th class="">
                @SharedLocalizer["Department"]
            </th>

            <th class="">
                @SharedLocalizer["Supplier"]
            </th>
            <th class="">
                <span>@SharedLocalizer["Totle Amount"]</span>
            </th>
            <th class="w-300 ">
                @SharedLocalizer["Collected/remining"]
            </th>
            <th>
                @SharedLocalizer["Due Date"]
            </th>
            <th>
                @SharedLocalizer["Attatchment"]
            </th>
            <th>
                @SharedLocalizer["Action"]
            </th>

        </tr>
    </thead>
    <tbody>


        <tr class="my-3">
            <td class="dtr-control">
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" id="newbotton">
                    <label for="newbotton">#fgd1231</label>
                </div>

            </td>
            <td>
                <span class="text-project">
                    xxxxxx
                </span>
            </td>
            <td>
                <span class="text-project ">
                    cccccccc
                </span>
            </td>
            <td>
                ddddddddddd
            </td>
            <td>
                ddddddddddd
            </td>
            <td>
                <div class="row">
                    <div class="grid mt-2 col-md-2">
                        <svg class="circle-chart" viewBox="0 0 33.83098862 33.83098862" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
                            <circle class="circle-chart__background" stroke="#007F5F" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                            <circle class="circle-chart__circle" stroke="#E88A89" stroke-width="2" stroke-dasharray="50.0" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431"></circle>
                        </svg>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <ul>
                                <li class="p-green"><span>Collected</span> <span class="color-project1">Egp 265,500</span></li>
                                <li class="p-red"><span>Paid</span> <span class="color-project2">Egp 265,500</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>
                <a class="btn-add-bill show-loader" title="Add Payment"><img src="/images/icon-profit.png">Add Payment</a>
            </td>
        </tr>
    </tbody>
</table>




