
<table class="table table-head-fixed " id="tableRefundedInsurance">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["RequestedBy"]
            </th>
            <th>
                @SharedLocalizer["Department"]
            </th>
            <th class="">
                @SharedLocalizer["Project"]
            </th>

            <th class="">
                @SharedLocalizer["Type"]
            </th>
            <th class="">
                @SharedLocalizer["totle Amount"]
            </th>
            <th class="">
                <span>@SharedLocalizer["Date"]</span>
            </th>
            <th>
                @SharedLocalizer["DeadLine"]
            </th>

            <th>
                @SharedLocalizer["PaymentDetails"]
            </th>
            <th>
                @SharedLocalizer["refound Details"]
            </th>
            <th>
                @SharedLocalizer["Actions"]
            </th>
        </tr>
    </thead>
    <tbody>


        <tr class="my-3">
            <td class="dtr-control">
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" id="newbotton10" onchange="showActionBtn('actionInsurance','tableRefundedInsurance')">
                    <label for="newbotton10">tableRefundedInsurance</label>
                </div>

            </td>
            <td>
                <span class="text-project">
                    xxxxxx
                </span>
            </td>
            <td>
                <span class="text-project ">
                    cccccccc
                </span>
            </td>
            <td>
                ddddddddddd
            </td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>
                <a class="btn quotations-confirm-delete"
                   data-status=""
                   title="@SharedLocalizer[" Delete"]"
                   data-itemid="" data-source="myQuotations"
                   data-singleton="true"
                   data-popout="true"
                   data-toggle="confirmation">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        <tr class="my-3">
            <td class="dtr-control">
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" id="newbotton1" onchange="showActionBtn('actionInsurance','tableRefundedInsurance')">
                    <label for="newbotton1">tableRefundedInsurance</label>
                </div>

            </td>
            <td>
                <span class="text-project">
                    xxxxxx
                </span>
            </td>
            <td>
                <span class="text-project ">
                    cccccccc
                </span>
            </td>
            <td>
                ddddddddddd
            </td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>
                <a class="btn quotations-confirm-delete"
                   data-status=""
                   title="@SharedLocalizer[" Delete"]"
                   data-itemid="" data-source="myQuotations"
                   data-singleton="true"
                   data-popout="true"
                   data-toggle="confirmation">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>




