
<table class="table table-head-fixed " id="tableRequestInsurance">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["RequestedBy"]
            </th>
            <th>
                @SharedLocalizer["Department"]
            </th>
            <th class="">
                @SharedLocalizer["Project"]
            </th>

            <th class="">
                @SharedLocalizer["Type"]
            </th>
            <th class="">
                @SharedLocalizer["totle Amount"]
            </th>
            <th class="">
                <span>@SharedLocalizer["Date"]</span>
            </th>
            <th>
                @SharedLocalizer["DeadLine"]
            </th>
            <th>
                @SharedLocalizer["Status"]
            </th>
            <th>
                @SharedLocalizer["PaymentDetails"]
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="dtr-control">
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" id="newbotton3" onchange="showActionBtn('actionInsurance','tableRequestInsurance')">
                    <label for="newbotton3">tableRefundedInsurance</label>
                </div>

            </td>
            <td>
                <span class="text-project">
                    xxxxxx
                </span>
            </td>
            <td>
                <span class="text-project ">
                    cccccccc
                </span>
            </td>
            <td>
                ddddddddddd
            </td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>
                <a class="btn info-details my-1 show-loader-ajax">
                    <i class="fas fa-info"></i>
                </a>
                <a class="btn quotations-confirm-delete"
                   data-status=""
                   title="@SharedLocalizer[" Delete"]"
                   data-itemid="" data-source="myQuotations"
                   data-singleton="true"
                   data-popout="true"
                   data-toggle="confirmation">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>

        <tr class="my-3">
            <td class="dtr-control">
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" id="newbotton" onchange="showActionBtn('actionInsurance','tableRequestInsurance')">
                    <label for="newbotton">tableRefundedInsurance</label>
                </div>

            </td>
            <td>
                <span class="text-project">
                    xxxxxx
                </span>
            </td>
            <td>
                <span class="text-project ">
                    cccccccc
                </span>
            </td>
            <td>
                ddddddddddd
            </td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>
                <a class="btn info-details my-1 show-loader-ajax">
                    <i class="fas fa-info"></i>
                </a>
                <a class="btn quotations-confirm-delete"
                   data-status=""
                   title="@SharedLocalizer[" Delete"]"
                   data-itemid="" data-source="myQuotations"
                   data-singleton="true"
                   data-popout="true"
                   data-toggle="confirmation">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>




