
<table class="table table-head-fixed " id="tableRequestedBills">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["No."]
            </th>
            <th>
                @SharedLocalizer["Created BY"]
            </th>
            <th class="">
                @SharedLocalizer["Department"]
            </th>

            <th class="">
                @SharedLocalizer["Project"]
            </th>
            <th class="">
                @SharedLocalizer["Supplier"]
            </th>
            <th class="">
                <span>@SharedLocalizer["TotalAmount"]</span>
            </th>
            <th>
                @SharedLocalizer["date"]
            </th>
            <th>
                @SharedLocalizer["Due Date"]
            </th>
            <th>
                @SharedLocalizer["Attatchment"]
            </th>
            <th>
                @SharedLocalizer["Action"]
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="dtr-control">
                <div class="icheck-primary d-inline ml-2">
                    <input type="checkbox" id="newbotton">
                    <label for="newbotton">#fgd1231</label>
                </div>

            </td>
            <td>
                <span class="text-project">
                    xxxxxx
                </span>
            </td>
            <td>
                <span class="text-project ">
                    cccccccc
                </span>
            </td>
            <td>
                ddddddddddd
            </td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td>dddddddddd</td>
            <td class="request-actions" data-label_table="Actions">
                <button type="button" class="request-actions-approved" title="Approve"><i class="fas fa-check"></i></button>
                <button type="button" class="request-actions-rejected" title="Reject"><i class="fas fa-times"></i></button>

            </td>
        </tr>
    </tbody>
</table>




