@{
    ViewData["Title"] = SharedLocalizer["TenderInsurance"];
    ViewData["Level1Section"] = SharedLocalizer["Financials"];
}


@section HeaderActions{
    <a class="btn btn-primary text-white" onclick="addParentAccount()">
        @SharedLocalizer["RequestTenderInsurance"]
    </a>
    <button type="button" class="btn btn-search-top-header visits" onclick="favourite('')">
        <i id="favouriteIcon_" class="far fa-star"></i>
    </button>
}

@section AdditionalHeaderContent{
    <ul class="nav nav-pills mx-4 mainTab-details" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Payments" asp-action="Index">@SharedLocalizer["Payments"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"
               asp-controller="Payments" asp-action="Insurance">@SharedLocalizer["TenderInsurance"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Payments" asp-action="Bills">@SharedLocalizer["Bills"]</a>
        </li>
    </ul>
}
<br>
<div class="row mx-2 justify-content-end">
    <div class="col-12 col-md-9">
        <div class="input-group mb-3 justify-content-start">
            <a href="#" class="filter-open"><i class="fas fa-sliders-h"></i>@SharedLocalizer["Filter"]</a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div class="input-group mb-3 justify-content-end">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <input class="form-control" type="text" id="searchbox" placeholder="@SharedLocalizer["SearchOpportunities"]">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="insurance-requested active" onclick="openTablePayment(this,'RequestedInsurance')">
            <div class="d-flex flex-column">
                <span class="total-title">
                    Requested Insurance
                </span>
                <span class="total-number">
                    <img src="/images/paid.png">
                    500,650,940
                </span>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="insurance-inprogress" onclick="openTablePayment(this,'InprogressInsurance')">
            <div class="d-flex flex-column">
                <span class="total-title">
                    Inprogress Insurance
                </span>
                <span class="total-number">
                    <img src="/images/inprogress.png">
                    500,650,940
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="insurance-issued d-flex flex-row justify-content-between" onclick="openTablePayment(this,'IssuedInsurance')">
            <div class="d-flex flex-column">
                <span class="total-title">
                    Issued
                </span>
                <span class="total-number">
                    <img src="/images/collected.png">
                    500,650,940
                </span>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <span class="over-due-title">Overdue</span>
                <span class="over-due-number">70,430,230</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="insurance-refunded" onclick="openTablePayment(this,'refundedInsurance')">
            <div class="d-flex flex-column">
                <span class="total-title">
                    Refunded
                </span>
                <span class="total-number">
                    <img src="/images/icon-profit.png">
                    288,912,87 USD
                </span>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 d-none" id="actionInsurance">
    <button type="button" class="btn-payment add-btn"><i class="fas fa-plus mr-2"></i>Add Payment Type</button>
    <button type="button" class="btn-payment approve-btn"><i class="fas fa-check mr-2"></i>Approve</button>
    <button type="button" class="btn-payment reject-btn"><i class="fas fa-times mr-2"></i>Reject</button>
    <button type="button" class="btn-payment delete-btn"><i class="fas fa-trash-alt mr-2"></i>Delete</button>
</div>

<div class="card my-4">
    <div class="card-body p-0">
        <div id="RequestedInsurance">
            @await Html.PartialAsync("_RequestedInsurancePartial")
        </div>
        <div id="InprogressInsurance" class="d-none">
            @await Html.PartialAsync("_InprogressInsurancePartial")
        </div>
        <div id="IssuedInsurance" class="d-none">
            @await Html.PartialAsync("_IssuedInsurancePartial")
        </div>
        <div id="refundedInsurance" class="d-none">
            @await Html.PartialAsync("_RefundedInsurancePartial")
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/payments.js"></script>
    <script>
        $(document).ready(function () {
            handleDataTable({
                selector: "#tableInprogressInsurance",
                stateloadcallback: stateLoadParams
            });
            handleDataTable({
                selector: "#tableIssuedInsurance",
                stateloadcallback: stateLoadParams
            });
            handleDataTable({
                selector: "#tableRequestInsurance",
                stateloadcallback: stateLoadParams
            });
            handleDataTable({
                selector: "#tableRefundedInsurance",
                stateloadcallback: stateLoadParams
            });
        })
        var stateLoadParams = function (settings, data) {
            var searchData = data.search.search;
            $("#searchbox").val(searchData);
        }


    </script>
}